*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img{
    max-width: 100%;
}

header{
    background-image: url(/photos/Web_cover-photo-1920x813-preset.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 500px;
}
.container{
    max-width: 1200px;
    margin: auto;
    height: 100%;
}
.row{
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    align-content: flex-end;
    justify-content: space-around;
    align-items: stretch;
}
.col-md-12{
    width: 100%;
}
.col-md-12 h1{
    color: white;
    font-size: 40px;
    line-height: 0.3em;
    font-weight: 700;
}
.col-md-12 p {
    color: #29b473;
    font-size: 30px;
    padding: 20px 0;
}
.col-md-12 button {
    background-color: #29b473;
    color: white;
    font-size: 20px;
    border-radius: 10px;
    border: none;
    outline: none;
    padding: 10px 20px;
    margin-bottom: 20px;

}
.wrapper{
    background-color: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 10px;
}
.col-md-12 .row .col-md-4{
    width: 33.3333%;
    display: flex;
    justify-content: center;
    align-items: center;    
}
.col-md-12 .row .col-md-4 .logo{
    padding: 15px;
}
.col-md-12 .row .col-md-4 .logo img{
    width: 70px;
}
.col-md-12 .row .col-md-4 .description h4{
    font-size: 20px;
}
.col-md-12 .row .col-md-4 .description p{
    font-size: 16px;
    color: black;
}
section{
    margin-top: 20px;
}
.col-md-3{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    width: 25%;
    padding: 5px;
}
.col-md-3 .data{
    padding: 15px;    
}
.col-md-3 .data h3{
    font-size: 20px;
    color: black;
    font-weight: 700;
    padding-bottom: 30px;
}
.col-md-3 .hours{
    display: flex;
    justify-content: center;
    align-items: center;
}
.col-md-3 .hours p{
    padding: 0 10px;
}
